[submodule "LWDviz/vendor/spdlog"]
	path = LWDviz/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LWDviz/vendor/GLFW"]
	path = LWDviz/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "LWDviz/vendor/imgui"]
	path = LWDviz/vendor/imgui
	url = https://github.com/TheCherno/imgui
